html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.stack {
    width: 75vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #87a2b4;
}
.header {
    text-align: center;
    height: 15vmin;
    background-color: #f4f4f6;
}
h1 {
    font-size: 3em;
    color: #313a41;
}
.stack--horizontal {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #87a2b4;
    height: 40vh;
    width: 75vw;
    padding: 2em;
    gap: 2em;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%),
        0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    height: 40vh;
    min-width: 0;
    flex: 1 1 0;
    font-size: 2em;
}
.card__header {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
}
.card__figure {
    display: flex;
    gap: 0.5em;
}
.spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    text-align: center;
    width: 10vw;
}
.game__message {
    display: flex;
    font-size: 3em;
    justify-content: center;
    text-align: center;
    background-color: #87a2b4;
}
.footer {
    bottom: 0;
    display: flex;
    flex: 0;
    align-items: center;
    justify-content: center;
    background-color: #313a41;
    width: 100%;
}
.btn {
    width: 15vmin;
    height: 15vmin;
}

@media (max-width: 1000px) {
    .stack {
        height: 100%;
        width: 100%;
    }
    .stack--horizontal {
        flex-direction: column;
        justify-content: space-between;

        height: 100vh;
        width: 100%;
    }
    .spacer {
        font-size: 1.3em;
        width: 0;
        height: 5vh;
    }
    h1 {
        font-size: 1em;
        margin-top: 0em;
        color: #313a41;
    }
    h3 {
        font-size: 1em;
    }
}
